.footer {
    /*define a posição fixa do footer e o coloca em baixo*/
    position: fixed;
    bottom: 0;

    /*seta o flexbox e a alinha a direita*/
    display: flex;
    justify-content: flex-end;
}

.footer span {
    font-weight: 300;
}

.footer a {
    text-decoration: none;
    color: lightslategrey;
    font-weight: bold;
}
.footer i {
    padding-left: 5px;
}